/* You can add global styles to this file, and also import other style files */
@import "./assets/css/all.min.css";
@import "./assets/css/brands.min.css";
@import "./assets/css/regular.min.css";
@import "./assets/css/solid.min.css";
@import "./assets/css/svg-with-js.min.css";
@import "./assets/css/v4-font-face.min.css";
@import "./assets/css/v4-shims.min.css";
@import "./assets/css/v5-font-face.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.margin-left {
  margin-left: 250px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
