<!-- ======= Home Section ======= -->
<section id="home" class="d-flex flex-column justify-content-center align-items-center">
  <div class="home-container" data-aos="fade-in">
    <h1>Bereket Berhe</h1>
    <p>I <span class="typed" data-typed-items="am a Fullstack Engineer proficient in Angular and Spring. am experienced in testing with JUnit, Mockito, and Cypress. am skilled in Agile methodologies and XP programming. develop scalable applications from design to deployment. collaborate effectively within Agile teams to deliver quality software"></span></p>
  </div>
</section><!-- End Home -->
